/* Ganti warna utama jadi tema Futsal */
.sidebar {
    background-color: #064e3b; /* Hijau hutan gelap */
    border-right: 2px solid #059669;
}

.sidebar h2 {
    color: #10b981; /* Hijau neon bola */
}

.sidebar li:hover {
    background: #10b981;
    color: white;
}
